.footer {
    /* background: rgba(51, 51, 51, 0.5); */
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    z-index: 3; 
    transition: background 0.3s ease; 
  }
  
  .footer span {
    color: white;
  }
  
  