@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popup{
    width: 300px;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background-color: rgb(115, 205, 223);
    border-radius: 5px;
}

.pin{
    cursor: pointer;
}

.place{
    font-size: 14px;
    color: tomato;
}
label{
    color: darkblue;
    font-size: 13px;
    border-bottom: 1.5px solid darkblue;
    margin: 3px 0;
}

.descrip{
    font-size: 13px;
}

.hearts{
    color:rgb(250, 227, 20)
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: grey;
}

form{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input,textarea{
    border: none;
    border-bottom: 1px solid darkblue;
    outline: none;
}

span{
    color: rgb(255, 225, 0);
}
.firstname{
    color: goldenrod;
}
input::placeholder, textarea::placeholder{
    font-size: 13px;
    color: gray;
}

.btnPin{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: beige;
    background-color: orange;
    margin-right: 5px;
}

.btnPin:hover{
    background-color: darkslateblue;
    cursor: pointer;
}



.btnDelete{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: beige;
    background-color:green;
}